*{
    margin:0;
    padding:0;
}
body{
    overflow-x: hidden;
}
header{
    background-image: url(2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:100vh;
    
}
header .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    flex-wrap:wrap;
    margin:auto;
    background-color:rgba(10, 55, 104, 0.801);
    position:fixed;
    z-index:9;
    

}
header .container h1{
    color:white;
    font-size: 50px;
    margin-left: 45px;;
}

header .container label,#toggle{
    display:none;

}
header .container label i{
    color:white;
}

header .container ul{
    display:flex;
    margin-right: 40px;

    
}
header .container ul li{
    margin:10px;
    list-style: none;
    cursor:pointer;
    margin-left: 20px;
   

}
header .container ul li a{
    text-decoration:none;
    color:white;
    font-size:20px;
}
header .container ul li a:hover{
    color:rgba(169, 194, 231, 0.884);
}
@media (max-width:767px) {
    header {
        height: 100vh;
        width:150vh;
        background-size:100% 100vh;
        flex-wrap:wrap;

    }
    header .container h1{
        color:white;
        font-size: 50px;
        margin-left:8px;;
    }
    
    header .container label{
        display:block;
    }
    header .container #toggle:checked ~ nav{
        display:block;
    }
    header .container nav{
        width:100%;
        display:none;
        background-color:#4444;
    }
    header .container ul{
        flex-direction:column;
        text-align:center;
    }
    
    
}

   
header .content{
    position: absolute;
    top:50%;
    left:23%;
    transform:translate(-50%,0%);
    flex-wrap:wrap;

 }
 header .content h2{
    color:white;
    font-size:35px;
    font-family:serif;
    width:30%;
}
header .content h2 .history{
    color:rgb(10, 79, 143);
}
header .content button{
    color:white;
    font-size:20px;
    border-color: white;
    background:rgb(10, 79, 143);;
    border-radius: 9px;
    padding:13px;
    outline:none;
    cursor: pointer;
}
header .content button:hover{
    border:white;
    background-color:rgb(155, 152, 152);
}
@media (max-width:767px) {
    header .content{
    top: 33%;
    left:35%;
    transform: translate(-50%, 0%);
    flex-wrap:wrap;
    display:flex;
    }
    header .content h2 {
        width:60%;
    }
    header .content button{
        height:60px;
        /* margin-left:50px; */
        
    
    }
    
}




section{
    margin:2px 0;
    
}
section .container{
    display:flex;
    justify-content: space-between;
    align-items: left;
    width:100%;
    height:100vh;
    margin:auto;
    background-color:rgb(10, 79, 143);    
}

section .container .det {
    
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width:30%;
    padding:5px 19px;
    margin-left: 35px;
    margin-top: 150px;
    

   
}
section .container .det h1{
    font-size: 35px;
    color:white;
}
section .container .det p{
    font-size:18px;
    color:white;
    margin:5px;
    margin-bottom: 20px;
    
}
section .container .det a{
    color:rgb(155, 152, 152);
    
}
section .container .det a:hover{
    color:white;
    
}
section .container img{
    height:550px;
    width:550px;
    margin:left;
    padding:4% 20px;
    margin-top: 15px;
}
@media (max-width:767px) {
    section{
        width:100%
    }
    section .container{
        flex-wrap: wrap;
        margin: auto;
    }
    section .container .det{
        width: 60%;
        margin-left:-8px;
       
    }
    section .container .det h1{
        font-size:15px; 
        margin-top: -120px;  
       
    }
    section .container .det p{
        font-size:15px;   
    
    }
    section .container .det a{
        font-size:15px;   
    }
    section .container .image img{
        height: 250px;
        width: 350px;
    }

} 

section .title h1{
    background-color: rgb(10, 79, 143); 
    color:white;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;  
}
section .products{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    gap:10px;
    width:100%;
    margin:auto;
    background-color: rgb(10, 79, 143);    
}
section .products .box{
    border:1px solid black;
    position:relative;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 45px;
    border-radius: 10px;
}
section .products .box img{
    width:100%;
    height:100%;
    border-radius: 10px;
}
section .products .box .details{
    opacity:0;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 15px;
    
}
section .products .box .details button{
    padding:10px;
    border: 20px;
    border-radius: 20px;
    background-color:white;
}
section .products .box .details button:hover{
    background-color: blanchedalmond;
}
section .products .box:hover img{
    opacity:0.6;
}

section .products .box:hover .details{
    opacity:1;
    transition:0.5s;
   
}



footer{
    background-color:rgba(10, 55, 104, 0.89);
    padding: 20px 0;
    
}
footer .cont{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    padding: 0 20px;
}
footer .cont .det{
    
    margin: 10px;
    margin-left: 45px;
    margin-right: 45px;
}
footer .cont .det h3{
    font-size:20px;
    margin-bottom:10px;
    color:beige;
    border-bottom:1px solid rgb(202, 202, 190) ; 
    padding-bottom:6px; 
}
footer .cont .det ul{
    list-style:none;
    padding:0;
}
footer .cont .det ul li{
    margin-bottom:10px;
}
footer .cont .det ul li a{
    color:#aaa2a2;
    text-decoration:none;
}
footer .cont .det ul li a:hover{
    color:whitesmoke;
    text-decoration: underline;
}
footer .buttom p{
    text-align: left;
    margin-top:20px;
    padding-top:10px;
    padding-left:18px;
   margin-left: 45px;
    color:beige;
}
footer .buttom p:hover{
    color:gray;
}
@media (max-width:767px){
    footer {
        width:100%;
        flex-wrap:wrap;
        
    }
    footer .cont .det{
        margin-left:-8px;
    }
}




    



